<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.help.toc">
      <toc file="/src/main/resources/toc.xml" primary="true"/>
   </extension>
   
   <extension point="org.eclipse.help.contexts">
      <contexts file="/src/main/resources/contexts.xml" plugin="gov.sandia.cf.plugin"/>
   </extension>
   
</plugin>
